.App {
  text-align: center;
  background: lightblue;
}

.navbar {
  background-color: navy;
  width: 100vw;
  margin-top: 0;
  padding: 5px;
  padding-top: 20px;
  color: white;
  border-bottom: 2px solid black;
}

.sidebar {
  float: left;
  width: 29vw;
  height: 100vw;
  background-color: grey;
  color: white;
  border-right: solid;
  border-color: black;
  border-width: 2px;
}

.main-content {
  float: left;
  background-color: lightgrey;
  padding: 10px;
  width: 65vw;
}

img {
  width: 400px;
  height: 300px
}

.ListingForm {
  background: lightblue;
  padding: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: solid;
  border-color: black;
  border-width: 2px;
}

h1 {
  font-size: 2.2em;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-family: "Courier New", Courier, monospace;
}
